.edit {
    width: 100%;
    display: flex;
  }
  
  .edit .editContainer {
    flex: 6;
  }
  
  .edit .editContainer .top,
  .edit .editContainer .bottomEditAd {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
  }
  
.edit .editContainer .top .rightEditAd form .formInputEditAd textarea,
.edit .editContainer .bottomEditAd .rightEditAd form .formInputEditAd textarea {
  width: 101%;
  resize: vertical;
}
  .edit .editContainer .top h1,
  .edit .editContainer .bottomEditAd h1 {
    color: lightgray;
    font-size: 20px;
  }
  
  .edit .editContainer .top .rightEditAd,
  .edit .editContainer .bottomEditAd .rightEditAd {
    flex: 1;
  }
  
  .edit .editContainer .top .rightEditAd form,
  .edit .editContainer .bottomEditAd .rightEditAd form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30%;
    gap: 10px;
  }
  
  .edit .editContainer .top .rightEditAd form .formInputEditAd,
  .edit .editContainer .bottomEditAd .rightEditAd form .formInputEditAd {
    width: 300%;
    margin-bottom: 12px; /* Yeni satır */
  }
  
  .edit .editContainer .top .rightEditAd form .formInputEditAd label,
  .edit .editContainer .bottomEditAd .rightEditAd form .formInputEditAd label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .edit .editContainer .top .rightEditAd form .formInputEditAd label .icon,
  .edit .editContainer .bottomEditAd .rightEditAd form .formInputEditAd label .icon {
    cursor: pointer;
  }
  
  .edit .editContainer .top .rightEditAd form .formInputEditAd input,
  .edit .editContainer .bottomEditAd .rightEditAd form .formInputEditAd input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .edit .editContainer .top .rightEditAd form button,
  .edit .editContainer .bottomEditAd .rightEditAd form button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #049FFF;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit .editContainer .top .rightEditAd form button:disabled,
  .edit .editContainer .bottomEditAd .rightEditAd form button:disabled {
    background-color: rgba(3, 92, 92, 0.322);
    cursor: not-allowed;
  }


#sendButtonEditAd {
    margin-left: 16%;
}

  